// Dark theme
$backgroundDark: #18191a;
$sidebarDark: #2a2c2f;
$textDark: #fff;

// Bright theme
$backgroundBright: #fff;
$sidebarBright: #33c6d9;
$textBright: #2a2c2f;

// Brand
$brandPrimary: #33c6d9;
